body{
background:#f6f6f6;
margin:0;
font-family:Arial;
}

.top-header{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#f5d184;

}

.container{

display:flex;

}

.sidebar{

width:180px;
background:white;
padding:10px;
display:flex;
flex-direction:column;
gap:10px;

}

.sidebar button{

padding:12px;
border:none;
border-radius:10px;
cursor:pointer;
background:#eee;

}

.sidebar .active{

background:#0a8f63;
color:white;

}

main{

flex:1;
padding:15px;

}

.toolbar{

display:flex;
gap:10px;
margin-bottom:20px;

}

.toolbar input,
.toolbar select{

padding:10px;
border-radius:8px;
border:1px solid #ccc;

}

.product-card{

display:flex;
background:white;
border-radius:15px;
padding:15px;
margin-bottom:20px;
box-shadow:0 3px 10px rgba(0,0,0,.1);

}

.product-card img{

width:120px;
height:120px;
object-fit:contain;

}

.info{

padding-left:20px;
flex:1;

}

.prices{

display:flex;
gap:10px;
margin:15px 0;

}

.prices div{

background:#f3f3f3;
padding:10px;
border-radius:10px;
text-align:center;
min-width:70px;

}

button{

background:#00b26f;
color:white;
border:none;
padding:12px 25px;
border-radius:10px;
cursor:pointer;

}
